# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
.swc/

# Environment variables
.env
.env.local
.env*.local

# Build
/build
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel/

# Secrets / certificates
*.pem

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/